body {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(224, 238, 250);
  /* float: left; */
  color: blue;
}

.form-check {
  text-align: left;
}

label {
  margin: 10px;
  width: 50%;
  padding-bottom: 20px;
  float: none;
}

.radio {
  color: black;
}

div#results {
  float: none;
  margin: 10px;
  border: dashed 3px lightgreen;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

}

.error {
  color: red;
}